 /* Основной цвет текста #212121 */
 /* Вторичный цвет текста #757575 */
 /* Акцент цвета текста #FFFFFF */

 /* Основной цвет фона #ffffff */
 /* Вторичныйй цвет фона #2196F3 */
:root {
   --primery-text-color:#757575;
   --title-text-color: #212121;
   --accent-text-color:#FFFFFF;
   --primery-bg-color: #FFFFFF;
   --secondary-bg-color:#2F303A;
   --button-bg-color: #2196F3;
}
 body {
    background-color: var(--primery-bg-color);
    color: var(--primery-text-color);
    font-family:link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet";
 }   
 .list {
   list-style: none;
 }
 /* Logo */
 .logo {
    color: var(--button-bg-color)
 }
 .logo-studio {
   color: var(--primery-text-color)
 }
 /* Site nav */
 .site-nav .link {
   color: var(--title-text-color);
 } 
 .site-nav .link:hover,
 .site-nav .link:focus {
   color:var(--button-bg-color)
 }
 /* Site auth */
  .auth .link {
   color: var(--primery-text-color);
  }
.auth .link:hover,
.auth .link:focus {
   color: var(--button-bg-color);
}

 /* Hero */
.hero-title {
   background-color: var(--secondary-bg-color);
   color: var(--accent-text-color);
}
/* Section */
.section-title {
   color: var(--title-text-color);
}
/* Button */
.button {
   color: var(--accent-text-color);
   background-color: var(--button-bg-color);
}
/* Footer */
.adress {
   background-color: var(--secondary-bg-color);  
}
.adress .logo-studio,
.adress-title,
.adress-link
 {
   color: var(--accent-text-color);
}
